{% extends 'base.html' %}
{% block content %}
<!-- Title (haeding) -->
<h2>Registered Refugees</h2>
{% if registrations %}
<style>
    table {
    width: 100%;
    }
</style>
  <table> <!-- Table to display all registration data -->
    <tr>
        <th>First Name</th>
      <th>Surname</th>
      <th>Date of Birth</th>
      <th>Gender</th>
      <th>Medical Condition</th>
      <th>Full Medical Condition</th>
      <th>Country of Origin</th>
      <th>ID Type</th>
      <th>ID Information</th>
      <th>Skills/Job</th>
      <th>Phone Number</th>
      <th>Travelling Members</th>
      <th>Photo</th>
    </tr>
    {% for person in registrations %} <!-- loop through all stored data -->
      <tr>
        <td>{{ person.first_name }}</td>
        <td>{{ person.surname }}</td>
        <td>{{ person.birthdate }}</td>
        <td>{{ person.gender }}</td>
        <td>{{ person.medical_condition }}</td>
        <td>{{ person.medical_condition_text }}</td>
        <td>{{ person.country }}</td>
        <td>{{ person.id_information1 }}</td>
        <td>{{ person.id_information_text1 }}</td>
        <td>{{ person.skills_job }}</td>
        <td>{{ person.phone_number }}</td>
        <td>{{ person.travelling_members }}</td>
        <td>{{ person.photo }}</td>


      </tr>
    {% endfor %}
  </table>
{% else %}
  <p>No registrations found yet.</p>
{% endif %}
{% endblock %}
